# Steam API Key from https://steamcommunity.com/dev/apikey
STEAM_API_KEY=
# Secret string for session auth
SECRETSECRET=
# Planetscale DB URL
DATABASE_URL=
# DTAuth.lua mod path
DTAUTHDATA_PATH='G:\\Games\\SteamLibrary\\SteamApps\\common\\Warhammer 40,000 DARKTIDE\\mods\\DTAuth\\scripts\\mods\\DTAuth\\DTAuth.lua'