@import "tailwindcss";

@font-face {
	font-family: "machine";
	src:
		url("/machine.woff2") format("woff2"),
		url("/machine.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-machine: "machine", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
	@apply bg-black font-mono;
}

@layer components {
	.halftone {
		filter: grayscale(100%) sepia(100%) hue-rotate(10deg) saturate(300%)
			brightness(0.8);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(100%);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-100%);
	}
}

::view-transition-old(root) {
	animation: none;
}
::view-transition-new(root) {
	animation: none;
}

::view-transition-old(tile-*) {
	animation:
		1s ease-out both slide-to-left,
		1s ease-out both fade-out;
}
::view-transition-new(tile-*) {
	animation:
		1s ease-out both slide-from-right,
		1s ease-out both fade-in;
}
